.action-banner {width: 100%; border-radius: 5px; background-size: cover; background-position: center; padding-top: 50px; padding-bottom: 50px; padding-left: 50px; padding-right: 50%; margin-bottom: 1em}
.action-banner div.ab-wrapper > *:not(:last-child) {padding-bottom: 25px}
.action-banner div.ab-header{color: #212529; font-size: 1.5rem; font-weight: 700}
.action-banner div.ab-text{color: #212529; font-size: 1.0rem}
.action-banner div.ab-buttons button {text-decoration: none; outline: none; border: none; margin-bottom: 10px; color: white; background-color: #149dde; padding: 10px 20px; text-decoration: none; outline: none; border: none; border-radius: 5px; font-weight: bold; transition: 0.1s linear; font-size: 1.0rem; display: inline}
.action-banner div.ab-buttons button:not(:last-child) {margin-right: 10px}
.action-banner div.ab-buttons button:hover {background-color: #00acee}

@media (max-width : 991px) {
	.action-banner {padding-top: 25px; padding-bottom: 25px; padding-left: 25px}
	.action-banner div.ab-wrapper > *:not(:last-child) {padding-bottom: 10px}
}

@media (max-width : 767px) {
	.action-banner {padding: 0;width: 100%;height: 100%}
  	.action-banner div.ab-header{color: #fff; text-align: center}
  	.action-banner div.ab-text{color: #fff; text-align: center}
  	.action-banner div.ab-buttons{text-align: center}
  	.action-banner div.ab-wrapper{background-color: rgba(0,0,0,0.4); padding: 25px; border-radius: 5px}
}